examples/xslt/datacite-dcat-date/datacite.schema.xsd.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" targetNamespace="http://datacite.org/schema/kernel-4" elementFormDefault="qualified" xml:lang="EN">
  <xs:element name="resource">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dates" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="date" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Different dates relevant to the work.</xs:documentation>
                  <xs:documentation>YYYY,YYYY-MM-DD, YYYY-MM-DDThh:mm:ssTZD or any other format or level of granularity described in W3CDTF. Use RKMS-ISO8601 standard for depicting date ranges.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="dateType" type="dateType" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="language" type="xs:language" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Primary language of the resource. Allowed values are taken from IETF BCP 47, ISO 639-1 language codes.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="dateType" id="dateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Collected"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>